body {
	margin: 0px;
	padding: 0px;	
}

header {
	height: 100vh;
}

h2 {
	margin: 0;
	text-align: left;
	top: -200px;
	/*padding: 25%;*/
	padding-right: 60px;
	padding-bottom: 0;
	color: white;
	font-family: 'Ubuntu', sans-serif; 
	font-size: 35px;
}

#circle1 {
	position: absolute;
	top: -200px;
	right: -120px;
	width: 400px;
	height: 400px;
	background: #275996;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	z-index: 0;
}

#circle2 {
	position: absolute;
	left: -150px;
	bottom: 0px;
	width: 400px;
	height: 200px;
	background: #275996;
	-moz-border-radius: 200px 200px 0px 0px;
	-webkit-border-radius: 200px 200px 0px 0px;
	border-radius: 200px 200px 0px 0px;
	z-index: 0;
}

.dots {
	/*position: absolute;*/
	z-index: 8 !important;
	top: -500px;
}

.country-search {
	padding-top: 40px;
	text-align: center;
}

#section1 {
	background-color: #FAAB54;
	height: 100vh;
	z-index: -1;
}