html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family:'Ubuntu', sans-serif !important;
}

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #FAAB54;
    color: #fff;
}

.germany-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #275996;
}

.egypt-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.crowdsource-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #275996;
}

.header h2 {
    font-size: 20px;
    font-weight: bold;
}

#circle1 {
    position: absolute;
    top: -200px;
    right: 0px;
    width: 200px;
    height: 400px;
    background: #275996;
    -moz-border-radius: 0px 200px 0px 200px;
    -webkit-border-radius: 0px 200px 0px 200px;
    border-radius: 0px 200px 0px 200px;
}

#circle2 {
    position: absolute;
    left: -250px;
    bottom: 0px;
    width: 600px;
    height: 300px;
    background: #275996;
    -moz-border-radius: 300px 300px 0px 0px;
    -webkit-border-radius: 300px 300px 0px 0px;
    border-radius: 300px 300px 0px 0px;
}

.logo {
    width: 300px;
}

.dots {
    position: relative;
    float: top;
    z-index: 1;
    margin-left: -50px;
    margin-top: -175px;
}

.tagline {
    position: relative;
    margin-top: -150px;
    text-align: left;
    color: white;
}

.scroll {
    color: #fff;
    margin-top: 20px;
    font-size: 100px;
}

.scroll:hover {
    /*box-shadow: 0 0 5px rgba(81, 203, 238, 1);*/
    padding: 0px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    /*border: 1px solid rgba(81, 203, 238, 1);*/
}

.fo-search {
    width: 300px !important;
}

.navbar-brand {
    height: 40px;
    width: 120px;
}

.white {
    color: #fff;
}

.germany {
    margin: 0px 200px;
}

.big {
    font-size: 100px;
}

.control-label {
    font-size: 25px;
    margin-top: -10px;
}

.form-horizontal {
    padding-top: 20px;
}

.separator {
    margin-top: -100px;
    margin-left: -50px;
    margin-right: 270px;
}

#germany p {
    color: #fff;
    text-align: left;
    padding-right: 40px;
}

#egypt p {
    text-align: left;
    padding-right: 40px;
}

#germany img {
    height: 400px;
    margin-top: -500px;
}

#egypt img {
    height: 400px;
    margin-left: -250px;
}

.black {
    color: black;
}

p {
    font-size: 16px;
}

textarea {
    resize: none;
}

a {
    color: #fff;
}

a:hover {
    color: #275996;
    text-decoration: none;
}

.left {
    text-align: left;
}

.resize {
    height: 400px;
}

.big-pic {
    height: 1000px;
    margin-top: -300px;
    margin-left: -250px;
    z-index: -1;
}

footer {
    height: 50px;
    position: absolute;
    float: bottom;
    width: 100%;
    padding: 0;
    margin: 0;
}

footer ul {
  width: 100%;
  border: 1px solid black;

}

footer ul li {
  display: inline;
}

#walk-line {
   overflow-y: hidden;
}

.sorta-big {
    font-size: 65px;
}

.small {
    height: 400px;
}